a {
  text-decoration: none;
}

.menu {
  list-style: none;
  line-height: 5px;
}

.menu-item {
  display: inline-block;
}

.menu-link {
  margin: 0 2px;
  padding: 10px 15px;
  color: #010002;
  border-radius: 5px;
  font-weight: bold;
}

.menu-link:hover {
  background: #eee;
  box-shadow: 0 0 15px #000;
  transition: 400ms;
}

.active {
  background: #eee;
  color: #555;
}
@media (max-width: 480px) {
  .menu-item {
    display: inline-block;
    width: 50%;
    margin: 10px 0;
  }
  .menu-link {
    padding: 10px 25px;
  }
}
