/*@media (max-width: 315px) {
	h1 {
		color: green;
	}
	.header {
		background: #ffffff;
	}
}
*/
html,
body {
	height: 100%;
	width: 100%;
	/*background: grey;*/
}

* {
	padding: 0;
	margin: 0;
}

.header {
	height: 20%;
	width: 100%;
	background: #FF8C00;
}

.header h1 {
	font-family: "Droid Serif", serif;
	color: grey;
	text-align: center;
	font-size: 80px;
	padding-top: 10px;
}

.content {
	height: 100%;
	width: 100%;
	background: #FF8C00;
	box-sizing: border-box;
	border-top: 5px solid grey;
}

.footer {
	height: 10%;
	width: 100%;
	background: #FF8C00;
	border-top: 5px solid grey;
}

.sidebar_1 {
	width: 15%;
	height: 100%;
	/*border-right: 5px solid grey;*/
	float: left;
	box-sizing: border-box;
}

.navbar {
	margin-left: 10px;
	margin-top: 5px;
	position: fixed;
	box-sizing: border-box;
	width: 11.5%;
}

ul {
	list-style-type: none;
	box-sizing: border-box;

}

li {
	background: grey;
	padding: 10px;
	border-radius: 10px;
	margin-top: 5px;
	width: 100%;
}

li:hover {
	background: white;
	color: grey;
	/*font-size: 40px;*/
}

a {
	text-decoration: none;
	color: #FF8C00;
	font-size: 30px;
	text-align: center;
	font-family: "Droid Serif", serif;
}

.main {
	width: 70%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}

.features {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.feature_1 {
	background: white;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	/*border-right: 2px solid white;*/
	box-shadow: 5px 5px grey;
}
.feature_2 {
	background: white;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	box-shadow: 5px 5px grey;
	/*border-right: 2px solid white;*/
}
.feature_3 {
	background: white;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	box-shadow: 5px 5px grey;
	/*border-right: 2px solid white;*/
}

.sidebar_2 {
	width: 15%;
	height: 100%;
	/*border-left: 5px solid grey;*/
	float: left;
	box-sizing: border-box;
}

h2, p {
	padding: 20px;
	font-weight: 900;
	text-align: center;
	font-family: "Droid Serif", serif;
}


