body {
  margin: 200px 0 0 0;
  padding: 0;
  background: #AF0006;
  font-family: Arial, sans-serif;
  color: #fff;
}
.container {
  position: relative;
  width: 50%;
  margin: 100px auto;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
}

#home {
  position: fixed;
  top: 30px;
  left: 30px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  background: #AF0006;
  text-decoration: none;
  box-shadow: 0 0 20px #37080a;
}

#form {
  position: relative;
}

input {
  display: block;
  width: 20%;
  margin: 10px auto;
  padding: 5px 10px;
  border: 2px solid #eee;
  color: #AF0006;
  background: #fff;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 20px #37080a;
  font-weight: bolder;
}

input::placeholder {
  color: rgba(255, 255, 255, .5);
}

input:focus {
  border: 2px solid #fff;
}

#submit-form {
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #fff;
  width: 226px;
  color: #AF0006;
  cursor: pointer;
  box-shadow: 0 0 20px #37080a;
  font-weight: bolder;
}

.info {
  position: absolute;
  text-align: center;
  color: #fff;
  display: inline;
  width: 30vw;
  border: 2px solid #fff;
  font-size: 13px;
  padding: 5px 2px;
}

.login-info {
  top: 0px;
  right: 5px;
}

.email-info {
  top: 45px;
  right: 5px;
}

.age-info {
  right: 5px;
  top: 87px;
}

.password-info {
  right: 5px;
  top: 124px;
}

.password-repeat-info {
  right: 5px;
  top: 169px;
}

#show-all {
  display: block;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #fff;
  background: #AF0006;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  padding: 8px 10px;
  box-shadow: 0 0 20px #37080a;
}

h1 {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

span {
  display: block;
  margin: 0 auto;
  width: 50%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 0 20px #37080a;
}

@media (max-width: 633px) {
  .info {
    font-size: 9px;
    line-height: normal;
    padding: 3px;
  }
}
