* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background: #AF0006;
}

.text {
  margin-top: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #AF0006;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  width: 70%;
  margin: 100px auto;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px #37080a;
}

#home {
  position: fixed;
  top: 30px;
  left: 30px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  background: #AF0006;
  text-decoration: none;
  box-shadow: 0 0 20px #37080a;
}

.list {
  list-style: none;
  background: #AF0006;
  margin: 0 0 2px 0;
  padding: 0;
  overflow: auto;
}

.list-item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
  box-sizing: border-box;
  color: #fff;
}

.list-link {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: inherit;
}

.list-link:hover {
  background: rgba(255, 255, 255, 0.5);
}

.text-box {
  background: #AF0006;
  min-height: 200px;
  height: 400px;
  padding: 20px;
  color: #fff;
}

.active {
  background: #fff;
  color: #AF0006;
}

.active:hover {
  background: #fff;
}
