#gameDashboard {
  display: none;
}

html,
body {
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#menu {
  background: #555;
  padding: 30px;
}

.menu {
  list-style: none;
  margin: 0px auto;
  text-align: center;
  color: #fff;
}

.sub-menu {
  display:none;
}

.menu-item {
  display: inline-block;
  position: relative;
  margin: 0 2px;
}

.menu-item:nth-child(odd)::after {
  content: url(../img/down-arrow.png);
  position: absolute;
  right: 10px;
  top: 0;
}

.menu-link {
  padding: 10px 30px;
  background: #fff;
  color: #555;
}


.sub-menu {
  position: absolute;
  text-align: center;
  top: 27px;
  left: 0;
  z-index: 1;
  width: 102px;
  background: #555;
  list-style: none;
}

.sub-sub-menu {
  left: 102px;
  top: 36px;
}

.sub-menu-item {
  color: #fff;
}

.sub-menu-link {
  display: block;
  background: #555;
  color: #fff;
  padding: 10px 5px;
  transition: 400ms;
}

.sub-menu-link:hover {
  background: #fff;
  color: #555;
}
