a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding-top: 80px;
  background: #333;
  height: 100vh;
}

.user-img {
  width: 15%;
  height: auto;
  border-radius: 50%;
  padding-bottom: 10px;
}

@media (max-width: 480px) {
  .content {
    padding-top: 150px;
  }
  .user-img {
    width: 30%;
    height: auto;
  }
}

h1 {
  padding: 15px 0;
}

h3 {
  width: 50%;
  max-width: 250px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  line-height: normal;
}

h3:last-child {
  border-bottom: none;
}

.email {
  font-size: 18px;
}

.social-link {
  text-align: center;
  padding: 10px 0;
  margin: 0 5px;
  width: 50px;
  height: auto;
  float: left;
}

.social {
  display: inline-block;
  overflow: auto;
}

.phone-link {
  width: 40px;
  height: auto;
  vertical-align: -9px;
  padding: 0 5px 0 0;
}

.location-link {
  width: 40px;
  height: auto;
  vertical-align: -9px;
  padding: 0 5px 0 0;
  margin-right: 10px;
}
